.icon-button {
  background-color: #F4C749;
	border: 2px solid black;
	border-radius: 100px;
	width: 40px;
	height:40px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-button:hover {
  transform: translatey(-5px) translateX(5px);
	box-shadow: -2px 2px 0 0 #000;
}

.text-button-right-icon-fill {
	font-family: Avenir;
	font-weight: 600;
	font-size: 16px;
	padding: 8px 8px 8px 16px;
	margin: 8px;
	background-color: #F4C749;
	border: 2px solid black;
	border-radius: 100px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;

	display: flex;
	justify-content: center;
	align-items: center;
}

.text-button-right-icon-fill img {
	margin-left: 8px;
}

.text-button-right-icon-fill:hover {
	transform: translatey(-5px) translateX(5px);
	box-shadow: -2px 2px 0 0 #000;
}

.text-button-left-icon-fill {
	font-family: Avenir;
	font-weight: 600;
	font-size: 16px;
	color: black;
	padding: 8px 16px 8px 16px;
	margin: 8px;
	background-color: #F4C749;
	border: 2px solid black;
	border-radius: 100px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;

	display: flex;
	justify-content: center;
	align-items: center;
}

.text-button-left-icon-fill img {
	margin-right: 8px;
}

.text-button-left-icon-fill:hover {
	transform: translatey(5px) translateX(-5px);
	box-shadow: 2px -2px 0px 0px #0DD18D;
}

/* text-button no fill white */
.text-button-left-icon {
	font-family: Avenir;
	font-weight: 600;
	font-size: 16px;
	color: white;
	padding: 8px 16px 8px 8px;
	margin: 8px;
	background-color: none;
	border: none;
	border-radius: 100px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.text-button-left-icon img {
	margin-right: 8px;
}
