@import url("./layout.css");
@import url("./landing.css");
@import url("./social.css");
@import url("./type.css");
@import url("./cards.css");
@import url("./buttons.css");
@import url("./popover.css");


body {
	background-color: #16192B;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	flex: 1;
}

ul{
	list-style:none
}
