/*This is how you can do a popover if you
want to push this */

.popover {
	position: relative;
	display: inline-block;
}

.popover-content {
	position: absolute;
	right: -100%;
	top: 50%;
	transform: translateY(-50%);
	
	z-index: 1;
	width: 240px;
	overflow: auto;
	max-height: 500px;
	border: 2px solid #000;
	background-color: white;
	padding: 16px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 8px;
	display: none;
}

.popover:hover .popover-content {
	display: block;
}