.popover {
	position: relative;
	display: inline-block;
}

.popover-content {
	position: absolute;
	right: -100%;
	top: 20%;
	transform: translateY(-50%);
	
	z-index: 1;
	width: 240px;
	overflow: auto;
	max-height: 500px;
	border: 2px solid #000;
	background-color: white;
	padding: 16px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 8px;
	display: none;

	padding-right: 16px;
	overflow-y: auto;
	border-radius: 10px;

	scrollbar-width: thin;
	scrollbar-color: darkgrey lightgrey;
}

.popover:hover .popover-content {
	display: block;
}

.popover-content::webkit-scrollbar {
	width: 8px;
}

.popover-content::-webkit-scrollbar-track {
	background: lightgrey;
}

.popover-content::-webkit-scrollbar-thumb {
	background-color: darkgrey; 
	border-radius: 10px; 
}