/*This is how you can do a popover if you
want to push this */

.popover {
	position: relative;
	display: inline-block;
}

.popover-content {
	position: absolute;
	right: -50%;
	top: 50%;
	transform: translateY(-50%);
	white-space: nowrap;
	z-index: 1;

	border: 1px solid #ddd;
	background-color: white;
	padding: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 8px;
	display: none;
}

.popover:hover .popover-content {
	display: block;
}