.social-media {
	margin: 8px;
	fill: #F97068;
	width: 37px;
	height: 37px;
	transition: fill 0.3 ease;
}

/* this does not trigger unless I have inline svgs, but
that is agains the rules */
.social-media:hover {
	fill: #000;
}

.social-links {
  display: flex;
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	padding: 0;
}

.socil-links li {
	margin-right: 8px;
}
