.grid-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 24px;
	padding: 16px;
	grid-template-areas:
	"hd hd hd hd hd hd hd hd hd hd hd hd"
	"sd sd sd sd main main main main main main main main";
}

.header {
	grid-area: hd;
	display: flex;
	justify-content: space-between;
}

.header .title-large {
	grid-column: 1 / span 3;
	font-family: Bitter;
	font-size: 100px;
	font-weight: 700;
	/*font-style: italic;*/
}

.header .title-small {
	grid-column: -1 /span 2;
	font-family: Avenir;
	font-size: 24px;
	font-weight: 800;
}

.social-media {
	margin: 8px;
	fill: #F97068;
	transition: fill 0.3 ease;
}

.social-links {
  display: flex;
	justify-content: flex-end;
	padding: 24px;
	list-style: none;
	margin: 0;
}

.socil-links li {
	margin-right: 8px;
}

.side-content {
	grid-area: sd;
}

ul{
	list-style:none
}

.side-content ul {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.side-content li {
	list-style: none;
	padding-bottom: 40px;
}

.card-small-container {
	position: relative;
	grid-area: sd;
	height: 200px;
	margin-top: 8px;
	margin-left: 8px;

}

.card-large-container {
	position: relative;
	grid-area: sd;
	height: 400px;
	margin-top: 8px;
	margin-left: 8px;

}

.card {
	border: 1px solid black;
	background-color: white;
	padding: 16px;
	width: calc(100% - 32px);
	height: calc(100% - 16px);
	position: absolute;
}

.top-card {
	z-index: 1;
	top: -8px;
	left: -8px;
	border-radius: 4px;
}

.bottom-card{
	border: 1px solid black;
	background-color: white;
	border-radius: 4px;
}

.main-content {
	grid-area: main;
}