.header .title-large {
	grid-column: 1 / span 3;
	font-family: Bitter;
	font-size: 100px;
	font-weight: 700;
	color: #0272DF;
}

.header .title-small {
	grid-column: -1 /span 2;
	font-family: Avenir;
	font-size: 24px;
	font-weight: 800;
	margin-right: 8px;
	color: #4860A6;
}

.header .title-article {
	font-family: Bitter;
	font-size: 100px;
	font-weight: 700;
	color: #0272DF;
}

h3 {
	font-family: Avenir;
	font-size: 20px;
}

.project-title-large {
	font-family: Avenir;
	font-size: 24px;
}



.article-subheader {
	font-family: Avenir;
	font-size: 32px;
}

.article-content {
	font-family: Zilla Slab;
	font-size: 20px;
}



.footer-text {
	font-family: Avenir;
	color: red;
}