.header .title-large {
	grid-column: 1 / span 3;
	font-family: Bitter;
	font-size: 100px;
	font-weight: 700;
	color: #0272DF;
}

.header .title-small {
	grid-column: -1 /span 2;
	font-family: Avenir;
	font-size: 22px;
	font-weight: 800;
	margin: 4px;
	color: #0272DF;
}

a {
	text-decoration: none;
}
.nav-link {
	padding-left: 0px;
	padding-right: 16px;
	font-family: Avenir;
	font-size: 20px;
	color: #fff;
}

.header .title-article {
	font-family: Bitter;
	font-size: 100px;
	font-weight: 700;
	color: #0272DF;
	margin-bottom: 0;
}

.card-sub-head {
	font-family: Zilla Slab;
	font-size: 20px;
	margin: 8px;
}

h3 {
	font-family: Avenir;
	font-size: 20px;
	margin: 8px;
}

.project-title-large {
	font-family: Avenir;
	font-size: 24px;
	margin: 8px;
}

.article-subheader {
	font-family: Avenir;
	font-size: 32px;
	text-align: left;
	padding: 16px;
	margin-bottom: 0;
}

.article-content {
	font-family: Zilla Slab;
	font-size: 20px;
	line-height: 32px;
	padding: 16px;
}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: Avenir;
  font-size: 14px;
  padding: 24px;
}

.blockquote-text {
	color: #0272DF;
	font-family: Avenir;
	font-weight: 800;
	font-size: 40px;
}

.quote-source {
	color: #0272DF;
	font-family: Avenir;
	font-weight: 800;
	font-size: 40px;
	margin: 24px;
}

.info-text {
	font-family: Avenir;
	font-size: 14px;
}

.secondary {
	font-family: Zilla Slab;
	font-size: 18px;
	line-height: 24px;
}

.long-content {
	text-align: left;
}

.footer-text {
	font-family: Avenir;
	color: #fff;
}

span {
	font-family: Avenir;
	font-size: 16px;
}