.header .title-large {
	grid-column: 1 / span 3;
	font-family: Bitter;
	font-size: 100px;
	font-weight: 700;
	color: #0272DF;
}

.header .title-small {
	grid-column: -1 /span 2;
	font-family: Avenir;
	font-size: 22px;
	font-weight: 800;
	margin: 4px;
	color: #0272DF;
}

.nav-link {
	padding-left: 0px;
	padding-right: 16px;
	font-family: Avenir;
	color: red;
}

.header .title-article {
	font-family: Bitter;
	font-size: 100px;
	font-weight: 700;
	color: #0272DF;
}

h3 {
	font-family: Avenir;
	font-size: 20px;
	margin: 8px;
}

.project-title-large {
	font-family: Avenir;
	font-size: 24px;
	margin: 8px;
}

.article-subheader {
	font-family: Avenir;
	font-size: 32px;
}

.article-content {
	font-family: Zilla Slab;
	font-size: 20px;
}

.blockquote-text {
	color: #0272DF;
	font-family: Avenir;
	font-weight: 800;
	font-size: 40px;
}

.footer-text {
	font-family: Avenir;
	color: red;
}